<section id="about" class="section">
  <div class="container">
    <h2>Sobre mí</h2>
    <p>
      Soy un Administrador de Sistemas IT con más de 10 años de experiencia en sectores como el bancario y las telecomunicaciones. Me apasionan las nuevas tecnologías, el trabajo en equipo y el desarrollo profesional conjunto. Mi enfoque se centra en la gestión eficiente de proyectos y cambios, asegurando siempre la calidad y la satisfacción del cliente.
    </p>
    <ul class="soft-skills">
      <li>Creatividad</li>
      <li>Flexibilidad</li>
      <li>Iniciativa</li>
      <li>Proactividad</li>
      <li>Resiliencia</li>
      <li>Resolución de Conflictos</li>
      <li>Tolerancia al estrés</li>
      <li>Trabajo bajo presión</li>
    </ul>
  </div>
</section>