<section id="skills" class="section">
  <div class="container">
    <h2>Habilidades Técnicas</h2>
    <ul class="skills-list">
      <li>ITIL</li>
      <li>Control-M</li>
      <li>Jenkins</li>
      <li>Docker</li>
      <li>Kubernetes</li>
      <li>AWS</li>
      <li>Azure</li>
    </ul>
  </div>
</section>